{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>好看的双栏博客</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/cl-css.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'highlight/styles/railscasts.css' %}">
</head>
<body>
<div class="cl-header container-fluid" id="app">
    <div class="header-content container">
        <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html">
                <img src="../static/img/logo.jpg" width="144" height="72" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">教程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">模板</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">日记</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关于</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="cl-cantainer container">
    <div class="row">
        <div class="col-md-9 cl-left">
            <div class="cl-artical-content">
                <img src="{{ article.avatar.url }}" class="img-fluid" alt="">
                <h2 class="cl-artical-title">{{ article.title }}</h2>
                <div class="cl-card-tag">
                    <div><span>作者：{{ article.author }}</span></div>
                    <div><span>{{ article.total_views }}</span>人浏览 / <span>{{ article.comments_count }}</span>人评论</div>
                </div>
                <div class="cl-artical">
                    {{ article.content | safe }}
                </div>
            </div>

            相关文章
            <div class="recommend-panel">
                <h4 class="right-card-title">相关文章</h4>
                <div class="card-deck">
                    <div class="card ll-panel">
                        <a class="recommend-panel-link" href="details.html">
                            <div class="recommend-panel-top">
                                <img src="../static/temporary-img/list-image1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="recommend-panel-bottom">
                                如何有效避免设计作品“空”？
                            </div>
                        </a>
                    </div>
                    <div class="card ll-panel">
                        <a class="recommend-panel-link" href="details.html">
                            <div class="recommend-panel-top">
                                <img src="../static/temporary-img/list-image2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="recommend-panel-bottom">
                                高点击率钻展，设计环节…
                            </div>
                        </a>
                    </div>
                    <div class="card ll-panel">
                        <a class="recommend-panel-link" href="details.html">
                            <div class="recommend-panel-top">
                                <img src="../static/temporary-img/list-image3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="recommend-panel-bottom">
                                无敌配色技巧（一）
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {#             文章评论#}
            <div class="comment">
                <form class="cl-comment-from">
                    <div><textarea placeholder="说点什么吧..." rows="1"></textarea></div>
                    <button type="button">留言</button>
                    <span class="clearfix"></span>
                </form>


                <h4 class="right-card-title">全部评论</h4>

            </div>

        </div>

        <div class="col-md-3 cl-right">
            <div class="right-card">

                <div class="right-card-main">
                    <div class="right-card-title">个人微信号</div>
                    <div class="cl-code">
                        <img src="../media/weixin.jpg" class="img-fluid" alt="">
                        <p>关注作者获取更多模板信息，定时发布干货文章</p>
                    </div>

                </div>
            </div>

            <div class="right-card">

                <div class="right-card-main">
                    <div class="right-card-title">最新文章</div>
                    <ul class="right-recommended-list">
                        {% for new_art in new_arts %}
                            <li><a href="{% url 'home:detail' %}?art_id={{ new_art.id }}"><i class="fa fa-angle-right"
                                                                                             aria-hidden="true"></i>{{ new_art.title }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="right-card">

                 <div class="right-card-main">
                    <div class="right-card-title">热门标签</div>
                        <ul class="label">
                            {% for hot_tag in hot_tags %}
                                <li><a href="#">{{ hot_tag.tags }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid cl-footer">
    <div class="container">
        <p class="cl-copyright">本设计由简.工作室荣誉出品</p>
        <p class="cl-copyright">copyright @ 2017~2018 简.工作室（www.jeanstudio.cn）</p>
    </div>
</div>
<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/highlight/highlight.pack.js"></script>
<script src="../static/vue/vue-2.5.16.js"></script>
<script src="../static/js/host.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/index.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>